$background: #121212;
$box: #2a2a2a;
$box-active: #6c6c6c;
$text-main: #f5f5f5;
$text-secondary: #b3b3b3;
$text-box: #121212;
$spotify-green: #1db954;
$site-width: 800px;

@mixin flex-col-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin spotify-button {
    font-weight: 700;
    cursor: pointer;
    text-transform: none;
    user-select: none;
    border: 0;
    margin: 0;
    height: 46px;
    -webkit-tap-highlight-color: transparent;
    background-color: #ffffff;
    color: #000000;
    display: flex;
    border-radius: 14px;
    font-size: 1rem;
    align-items: center;
    padding: 8px 19px;
}

@mixin content-box {
    border-radius: 13px;
    margin: 0;
    padding: 2rem;
    background-color: $box;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

@mixin seethru-box {
    border: solid white 1px;
    border-radius: 14px;
    align-items: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    padding: 1rem;
}

@mixin hover-resize {
    transition: transform 0.1s linear;
    &:hover {
        transform: scale(1.05);
    }
}
