$primary-color: #121212;
$background-color: #121212;
$font-color: white;
$splash3: #6d597a;
$maintext: min(16px, 4vw);
$vibrant: #b77edc;
$orang: orange;
$radius: 1px;

$background: #121212;
$box: #282828;
