@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import './variables';
@import './mixins';

* {
    box-sizing: border-box;
}

body,
html {
    @include flex-col();
    margin: 0;
    padding: 0;
    background-color: $primary-color;
    font-family: 'JetBrains Mono', monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $font-color;
}

.App-link {
    all: unset;
}

.page {
    @include flex-col;
    justify-content: flex-start;
    height: 100%;
}
