@import 'mixins';
@import 'profile';
@import 'create-party';
@import 'song-search';
@import 'party-data';
@import 'home';
@import 'login';
@import 'submit-page';
@import 'end-page';
@import 'custom-modal';

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/NunitoSans_10pt-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/NunitoSans_10pt-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

body,
html {
    width: 100%;
    height: 100%;
    font-family: 'Nunito', sans-serif;
    background-color: $background;
    color: $text-main;
    font-size: 16px;
    overflow-x: hidden;
}

li,
a {
    all: unset;
}

.page {
    position: relative;
    width: $site-width;
    max-width: 90vw;
    height: 100%;
    @include flex-col-center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
    margin-bottom: 2rem;
}

.logo {
    font-size: 4rem;
    font-weight: 800;
    margin: 1rem
}

button {
    @include spotify-button;
}

footer {
    font-size: 0.8rem;
    height: fit-content;
    margin: 1rem;
    align-self: flex-end;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: $text-secondary;

    .spotify {
        height: 40px;
        fill: $text-secondary;

        &:hover {
            cursor: pointer;
            fill: $spotify-green;
        }
    }
}