#number {
    text-align: center;
    width: 2rem;
    margin-left: 1rem;
}

.loader {
    display: flex;
    flex-direction: row;
    height: 1em;
    width: 2rem;
    margin-left: 1rem;
    transform: rotate(180deg);
}

.loading {
    display: flex;
    margin-left: 0.3em;
}

.load {
    width: 2px;
    height: 20px;
    background-color: $spotify-green;
    animation: 1s move6 infinite;
    margin: 0.1em;
}

.load:nth-child(1) {
    animation-delay: 0.2s;
}

.load:nth-child(2) {
    animation-delay: 0.4s;
}

.load:nth-child(3) {
    animation-delay: 0.6s;
}

@keyframes move6 {
    0% {
        height: 0.2em;
    }

    25% {
        height: 0.7em;
    }

    50% {
        height: 1.5em;
    }

    100% {
        height: 0.2em;
    }
}

#number:hover {
    color: transparent;
    position: relative;
}

#number:hover:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
}
