#create-party {
    .greeting {
        font-size: 2rem;
    }
    .party-title {
        background-color: aqua;
    }
    .party-instructions {
        border: solid white 1px;
    }
    .party-options {
        .number-of-guests {
            border: solid yellow 1px;
        }
        .songs-per-guest {
            border: solid green 1px;
        }
        .guests {
            display: flex;
            flex-direction: column;
        }
        padding: 10rem;
    }
}
