#create-party {
    border-radius: 13px;
    margin: 1rem;
    padding: 2rem;
    background-color: $box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: auto;
    h1 {
        font-size: 2rem;
        margin: 0;
        padding: 0;
    }

    span {
        color: orange;
    }
    .party-instructions {
        cursor: default;
        margin: 0;
        padding: 0;
        border: 1px solid transparent;
        border-radius: 4px;
        color: #fff;
    }

    .party-options {
        width: 50%;
        > * {
            margin-block: 16px;
            display: flex;
            justify-content: space-between;
        }
        select {
            background-color: $box-active;
            border: 1px solid transparent;
            border-radius: 4px;
            color: #fff;
        }
    }

    .guests {
        width: 50%;
        display: grid;
        grid-auto-flow: row;
        gap: 16px;
    }

    button {
        align-self: flex-end;
        transition: transform 0.1s linear;
        &:hover {
            transform: scale(1.1);
        }
    }

    input {
        background-color: $box-active;
        border: 1px solid transparent;
        border-radius: 4px;
        color: #fff;
        font-family: inherit;
        font-size: 14px;
        height: 40px;
        padding: 0 12px;
        width: 100%;
        transition: background-color 0.1s linear;
        &::placeholder {
            color: $text-main;
        }
        &:focus,
        &:hover {
            background-color: #333;
            border: 1px solid #535353;
            outline: none;
            &::placeholder {
                color: $box-active;
            }
        }
    }

    label {
        color: gray;
    }
}
