.custom-modal {
    text-align: center;

    .delete-button {
        background-color: $background;
        color: white;

        &:hover {
            background-color: $danger-red;
        }
    }

    .yes-no {
        width: fit-content;
        position: absolute;
        top: 0;
        left: 0;

        hr {
            width: 100%;
        }

        @include seethru-box;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
        background-color: $box;
        box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.271);

        a {
            display: block;
            color: $spotify-green;
            text-decoration: underline;
            cursor: pointer;
        }

        .buttons {
            display: flex;
            gap: 1rem;

            button {
                color: white;
                background-color: $background;
            }

            button:hover {
                background-color: $box-active;
            }
        }
    }
}