.delete-party {
    text-align: center;
    button {
        background-color: $background;
        color: white;
        &:hover {
            background-color: $danger-red;
        }
    }
    .yes-no {
        width: fit-content;
        position: absolute;
        top: 0;
        left: 0;
        hr {
            width: 100%;
        }
        @include seethru-box;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 1rem;
        padding: 1rem;
        background-color: $box-active;
        margin: 0;
        box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.271);
        a {
            display: block;
            color: $spotify-green;
            text-decoration: underline;
            cursor: pointer;
        }
        .buttons {
            button {
                background-color: $box;
            }
            display: flex;
            gap: 1rem;
            button:hover {
                background-color: $background;
            }
        }
        flex-direction: column;
    }
}
