#end {
    @include seethru-box;
    width: fit-content;
    p {
        width: fit-content;
    }
    button {
        cursor: pointer;
        width: fit-content;
        margin: 1rem;
        @include hover-resize;
        &:hover {
            background-color: $spotify-green;
            color: white;
            border: none;
        }
    }
}
