#home {
    margin-top: 2rem;
    background-color: $background;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    div {
        @include seethru-box;
        div {
            em {
                color: palevioletred;
                font-size: 2rem;
            }
            all: unset;
            padding: 1rem;

            font-size: 1.5rem;
        }
    }

    .dead,
    button:disabled {
        opacity: 0.2;
        pointer-events: none;
    }
    p {
        border-radius: 13px;
        margin: 0;
        padding: 2rem;
        background-color: $box;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        text-align: left;
    }
    button {
        font-size: 2rem;
        padding: 2rem;
        @include hover-resize;
        &:hover {
            background-color: #1db954;
            color: white;
        }
    }
}
