#login {
    width: 100%;
    @include content-box;
    width: fit-content;
    button {
        font-weight: 400;
        background-color: $spotify-green;
        color: white;
        @include hover-resize;
    }
}
