#navigation {
    margin-top: 2rem;
    background-color: $background;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    div {
        @include seethru-box;
    }

    .dead,
    button:disabled {
        opacity: 0.2;
        pointer-events: none;
    }
    p {
        @include content-box;
        text-align: left;
    }
    button {
        @include hover-resize;
        &:hover {
            background-color: #1db954;
            color: white;
        }
    }
}
