#party-data {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;

    h2 {
        text-decoration: underline;
        text-align: left;
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    ul {
        border: solid white 1px;
        border-radius: 14px;
        align-items: flex-start;
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            all: unset;
        }
        .options {
            display: flex;
            align-items: center;
            flex-direction: row;
            border-top: solid $background 2px;
            justify-content: space-between;
            padding: 1rem;

            .delete-party {
                button {
                    background-color: $background;
                    color: white;
                    border: solid white 1px;
                    &:hover {
                        background-color: #ff4136;
                        border: none;
                    }
                }
            }
        }
    }
}

.submission-link {
    background-color: $box;
    border-radius: 8px;
    font-size: 1rem;
    margin: 1rem;
    padding: 1rem;
    &:hover {
        background-color: $box-active;
        transition: background-color 0.2s linear;
        transform: scale(1.01);
    }
}

.link-copied {
    padding-block: 1rem;
    color: white;
    font-style: italic;
}
.copy-link {
    padding-block: 1rem;
    color: $box-active;
}
