#profile {
    margin-block: 2rem;
    margin-top: 3rem;
    padding-inline: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: $site-width;

    .banner {
        position: absolute;
        top: 1rem;
        right: 1rem;
        cursor: pointer;
        align-items: center;
        border: 0;
        border-radius: 23px;
        color: #fff;
        display: flex;
        height: 32px;
        &:hover:not(:has(.menu)) {
            background-color: $box;
        }

        .menu {
            position: absolute;
            right: 0;
            top: 32px;
            margin-top: 5px;
            width: 100%;
            background-color: $box;
            color: #b3b3b3;
            text-transform: none;
            border: 0;
            -webkit-app-region: no-drag;
            border-radius: 4px;
            box-shadow: 0 16px 24px rgba(0, 0, 0, 0.3),
                0 6px 8px rgba(0, 0, 0, 0.2);
            padding: 4px;
        }
        li > * {
            text-align: start;
            user-select: none;
            cursor: pointer;
            border: 0;
            margin: 0;
            padding: 0.5rem;
            -webkit-tap-highlight-color: transparent;
            margin-block: 0px;
            font-size: 0.8125rem;
            font-weight: 400;
            border-radius: 2px;
            &:hover {
                background-color: $box-active;
            }
        }

        span {
            overflow: hidden;
            pointer-events: none;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-weight: 700;
            font-size: 0.875rem;
            margin-inline: 1rem;
        }

        .toggle {
            white-space: nowrap;
            color: #fff;
            cursor: pointer;
            height: 16px;
            width: 16px;
            margin-inline-end: 10px;
            display: block;
            fill: $text-main;
        }

        img {
            height: 31px;
            border-radius: 50%;
        }
    }
}
