#song-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    #searchbar {
        width: 100%;
        padding-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        input {
            background-image: url('./search.svg');
            background-repeat: no-repeat;
            background-position: 0.8rem center;
            white-space: nowrap;
            pointer-events: auto;
            text-transform: none;
            -webkit-tap-highlight-color: transparent;
            font-size: 0.8125rem;
            border: 0;
            outline: 0;
            border-radius: 500px;
            height: 40px;
            padding: 6px 48px;
            width: 100%;
        }
    }

    .search-results {
        max-height: 20rem;
        overflow: scroll;
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        color: #b3b3b3;
        text-transform: none;
        line-height: 1.6;
        border-radius: 4px;
        width: 100%;
        .result {
            user-select: none;
            padding: 0 16px;
            background-color: $text-box;
            border-radius: 4px;
            font-size: 0.9rem;
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;

            &:hover {
                background-color: $box;
            }
            img:hover {
                outline: solid white 1px;
            }

            #name-artist {
                display: flex;
                flex-direction: column;
                padding: 1rem;
            }
            #name {
                color: $text-main;
                padding: 0;
                margin: 0;
            }
            #artists {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                font-size: 0.7rem;
            }
            .add-song {
                font-size: 0.8rem;
                margin-left: auto;
                padding: 1rem;
                &:hover {
                    color: $spotify-green;
                }
            }
        }

        button {
            width: fit-content;
            align-self: flex-start;
            margin: 1rem;
            @include hover-resize;
            &:hover {
                background-color: $spotify-green;
                border: none;
            }
        }
    }
}
