body,
html {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    padding: 20px;
    background-color: black;
    color: wheat;
}

.profile {
    display: flex;
    flex-direction: column;
}
.playlists {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.playlist {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    flex-wrap: wrap;
}

#profile-pic {
    height: 100px;
    border-radius: 100px;
}
